language: ruby
rvm:
  - ruby-head
  - 2.4.1
  - 2.3.4
  - 2.2.7
  - 2.1.10
  - 2.0.0
  - 1.9.3
compiler:
  - gcc
  - clang
os:
  - linux
  - osx
matrix:
  exclude:
    - rvm: 2.4.1
      os: osx
before_install:
  - gem install test-unit
  - ruby extconf.rb
install:
  - make install
script:
  - ruby test_decimal.rb
notification:
  email:
    - tad.a.digger@gmail.com
